{
    "source": {
        "object": "Chroma_62012P",
        "definition": "pythonequipmentdrivers.source",
        "address": "GPIB0::14::INSTR",
        "init": [["set_voltage", {"voltage": 0}],
                 ["off", {}],
                 ["set_current", {"current": 10}]
                ]
    },
    "v_in_meter": {
        "object": "Keysight_34461A",
        "definition": "pythonequipmentdrivers.multimeter",
        "address": "USB0::0x2A8D::0x1301::MY59026778::INSTR",
        "init": [
                 ["set_mode", {"mode": "VDC"}]
                ]
    },
    "v_out_meter": {
        "object": "Keysight_34461A",
        "definition": "pythonequipmentdrivers.multimeter",
        "address": "USB0::0x2A8D::0x1301::MY59026586::INSTR",
        "init": [
                 ["set_mode", {"mode": "VDC"}]
                ]
    },
    "sink": {
        "object": "Chroma_63206A",
        "definition":  "pythonequipmentdrivers.sink",
        "address": "GPIB0::3::INSTR",
        "init": [
                 ["off", {}],
                 ["set_mode", {"mode": "CC"}],
                 ["set_current", {"current": 0}]
                ]
    }
}